<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SEF - Landing</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../public/css/bootstrap.css" rel="stylesheet">

  <link href="../public/css/style-landing.css" rel="stylesheet">

</head>

<body>

  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#">Login as Teacher</a></li>
          <li><a href="#">Login as Principle</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to Simple Education Foundation</h1>
      <h2>We make an effort to revolutionalize the education and make it accessible to each individual.</h2>
      <a href="#about" class="btn-get-started">Register</a>
    </div>
  </section>

  <main id="main">
    <section id="about">
        <div class="container" data-aos="fade-up">
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <h2 class="title">What we do</h2>
              <p>
                Simple Education Foundation (SEF) is a not-for-profit organization based out of Delhi. It was founded in 2013, with this belief that every child deserves access to quality education, regardless of their social and economic backgrounds. Our core philosophy is that every child should have an equal learning opportunity, and that should not be determined by where they are born. Given that over 65% of children in India are still going to government schools, we work to design & implement holistic school transformation programs that aim to strengthen government schools from within.
              </p>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Simple Schools</a></h4>
                <p class="description">Our core program ‘Simple Schools’, are government partnership schools, where we work to empower the entire school community through a ‘Whole School Transformation’ model.</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href="">Paathshala</a></h4>
                <p class="description"> Simple School-Paathshala is also based on our school transformation model, wherein we scaffold our intervention with the stakeholders in phases.</p>
              </div>
  
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">Taleem</a></h4>
                <p class="description">In May 2016, we partnered with the Directorate of School Education, Kashmir region (DSEK) to coach and empower select government school teachers and Head Masters with skills and mindsets that set them on a path of transformation.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
          </div>
  
        </div>
      </section>

  </main>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SEF - Simple Educational Foundation</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Team Runtime Terror</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <script src="assets/js/main.js"></script>

</body>

</html>