<!doctype html>
<html lang="en">


    <head>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>STUDENT REGISTRATION</title>
    <link href="../public/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="css/heroic-features.css" rel="stylesheet">
  
  </head>
  <style>

    body {
      
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
      margin-top:100px;
    }
    
    
        </style>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../public/assets/logo.jpg" alt="Logo" style="width:100px;">  Simple Education Foundation</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div id="form">
        <div class="container">
            <div class="row">
                <!--<div class="col">
                    <img src="img/form-pic.png" alt="Form Picture">
                </div>-->
                
                <div class="col" id='register'>
                    <h2>STUDENT REGISTERATION</h2>
                    <form style="margin-bottom:5em">
                        <div class="row form-group">
                            <div class="col">
                                <label for="inputName1">First Name</label>
                                <input type="text" class="form-control" id="inputName1" placeholder="First Name">
                            </div>
                            <div class="col">
                                <label for="inputName2">Last Name</label>
                                <input type="text" class="form-control" id="inputName2" placeholder="Last Name">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputContact">Contact</label>
                            <input type="text" class="form-control" id="inputContact" placeholder="Enter Your Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="inputContact">Class</label>
                            <input type="text" class="form-control" id="inputContact" placeholder="Enter Your class section">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>
                        <button type="button" class="btn black btn-lg ">Submit</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>



    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Simple Education Foundation</p>
        <p class="m-0 text-center text-white">Made with love by Runtime Terror</p>
      </div>
    </footer>

 <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  </body>  
</html>